<div style="align-items: center;">
    <h1>This is the result</h1>

    <h1>Original Message</h1>
    <h3>
        <%=obj.org %>
    </h3>
    <h1>Encrypted Message with <%=obj.algo%>
    </h1>
    <h3>
        <%=obj.e_msg%>
    </h3>
    <h1>Decrypted Message</h1>
    <h3>
        <%=obj.d_msg%>
    </h3>
</div>